.blob-avatar:hover .animate-walkX,
.blob-avatar:hover .animate-walkY {
  animation-play-state: paused;
}

.blob-avatar:hover .blob-avatar-info {
  max-height: 100em;
  transition: max-height 1s ease-in-out;
}

.blob-avatar .blob-avatar-info {
  transition: max-height 500ms cubic-bezier(0, 1, 0, 1);
  max-height: 0em;
}

.blob-avatar-base {
  width: 1em;
  height: 1em;
}

.blob-avatar-Daring {
  box-shadow: 
    /* row 1 */ 0em 0em 0 -0.05em transparent,
    1em 0em 0 -0.05em transparent, 2em 0em 0 -0.05em transparent,
    3em 0em 0 -0.05em transparent, 4em 0em 0 -0.05em transparent,
    5em 0em 0 -0.05em transparent, 6em 0em 0 -0.05em transparent,
    7em 0em 0 -0.05em transparent, 8em 0em 0 -0.05em transparent,
    9em 0em 0 -0.05em transparent, 10em 0em 0 -0.05em transparent,
    11em 0em 0 -0.05em transparent, /* row 2 */ 0em 1em 0 -0.05em transparent,
    1em 1em 0 -0.05em transparent, 2em 1em 0 -0.05em transparent,
    3em 1em 0 -0.05em transparent, 4em 1em 0 -0.05em #f55,
    5em 1em 0 -0.05em #f55, 6em 1em 0 -0.05em #f55, 7em 1em 0 -0.05em #f55,
    8em 1em 0 -0.05em transparent, 9em 1em 0 -0.05em transparent,
    10em 1em 0 -0.05em transparent, 11em 1em 0 -0.05em transparent,
    /* row 3 */ 0em 2em 0 -0.05em transparent, 1em 2em 0 -0.05em transparent,
    2em 2em 0 -0.05em #f55, 3em 2em 0 -0.05em #f55, 4em 2em 0 -0.05em #faa,
    5em 2em 0 -0.05em #faa, 6em 2em 0 -0.05em #faa, 7em 2em 0 -0.05em #faa,
    8em 2em 0 -0.05em #f55, 9em 2em 0 -0.05em transparent,
    10em 2em 0 -0.05em transparent, 11em 2em 0 -0.05em transparent,
    /* row 4 */ 0em 3em 0 -0.05em transparent, 1em 3em 0 -0.05em #f55,
    2em 3em 0 -0.05em #faa, 3em 3em 0 -0.05em #faa, 4em 3em 0 -0.05em #faa,
    5em 3em 0 -0.05em #faa, 6em 3em 0 -0.05em #faa, 7em 3em 0 -0.05em #faa,
    8em 3em 0 -0.05em #faa, 9em 3em 0 -0.05em #f55,
    10em 3em 0 -0.05em transparent, 11em 3em 0 -0.05em transparent,
    /* row 5 */ 0em 4em 0 -0.05em transparent, 1em 4em 0 -0.05em #f55,
    2em 4em 0 -0.05em #faa, 3em 4em 0 -0.05em #faa, 4em 4em 0 -0.05em #faa,
    5em 4em 0 -0.05em #faa, 6em 4em 0 -0.05em #faa, 7em 4em 0 -0.05em #faa,
    8em 4em 0 -0.05em #faa, 9em 4em 0 -0.05em #faa, 10em 4em 0 -0.05em #f55,
    11em 4em 0 -0.05em transparent, /* row 6 */ 0em 5em 0 -0.05em #f55,
    1em 5em 0 -0.05em #faa, 2em 5em 0 -0.05em #faa, 3em 5em 0 -0.05em #400,
    4em 5em 0 -0.05em #400, 5em 5em 0 -0.05em #faa, 6em 5em 0 -0.05em #faa,
    7em 5em 0 -0.05em #400, 8em 5em 0 -0.05em #400, 9em 5em 0 -0.05em #faa,
    10em 5em 0 -0.05em #faa, 11em 5em 0 -0.05em #f55,
    /* row 7 */ 0em 6em 0 -0.05em #f55, 1em 6em 0 -0.05em #faa,
    2em 6em 0 -0.05em #faa, 3em 6em 0 -0.05em #faa, 4em 6em 0 -0.05em #400,
    5em 6em 0 -0.05em #faa, 6em 6em 0 -0.05em #faa, 7em 6em 0 -0.05em #faa,
    8em 6em 0 -0.05em #400, 9em 6em 0 -0.05em #faa, 10em 6em 0 -0.05em #faa,
    11em 6em 0 -0.05em #f55, /* row 8 */ 0em 7em 0 -0.05em #f55,
    1em 7em 0 -0.05em #faa, 2em 7em 0 -0.05em #faa, 3em 7em 0 -0.05em #faa,
    4em 7em 0 -0.05em #faa, 5em 7em 0 -0.05em #faa, 6em 7em 0 -0.05em #faa,
    7em 7em 0 -0.05em #faa, 8em 7em 0 -0.05em #faa, 9em 7em 0 -0.05em #faa,
    10em 7em 0 -0.05em #faa, 11em 7em 0 -0.05em #f55,
    /* row 9 */ 0em 8em 0 -0.05em #f55, 1em 8em 0 -0.05em #faa,
    2em 8em 0 -0.05em #faa, 3em 8em 0 -0.05em #faa, 4em 8em 0 -0.05em #400,
    5em 8em 0 -0.05em #400, 6em 8em 0 -0.05em #400, 7em 8em 0 -0.05em #faa,
    8em 8em 0 -0.05em #faa, 9em 8em 0 -0.05em #faa, 10em 8em 0 -0.05em #faa,
    11em 8em 0 -0.05em #f55, /* row 10 */ 0em 9em 0 -0.05em transparent,
    1em 9em 0 -0.05em #f55, 2em 9em 0 -0.05em #faa, 3em 9em 0 -0.05em #faa,
    4em 9em 0 -0.05em #faa, 5em 9em 0 -0.05em #faa, 6em 9em 0 -0.05em #faa,
    7em 9em 0 -0.05em #faa, 8em 9em 0 -0.05em #faa, 9em 9em 0 -0.05em #faa,
    10em 9em 0 -0.05em #f55, 11em 9em 0 -0.05em transparent,
    /* row 11 */ 0em 10em 0 -0.05em transparent, 1em 10em 0 -0.05em #f55,
    2em 10em 0 -0.05em #f55, 3em 10em 0 -0.05em #faa, 4em 10em 0 -0.05em #faa,
    5em 10em 0 -0.05em #faa, 6em 10em 0 -0.05em #faa, 7em 10em 0 -0.05em #faa,
    8em 10em 0 -0.05em #f55, 9em 10em 0 -0.05em #f55,
    10em 10em 0 -0.05em transparent, 11em 10em 0 -0.05em transparent,
    /* row 12 */ 0em 11em 0 -0.05em transparent, 1em 11em 0 -0.05em transparent,
    2em 11em 0 -0.05em transparent, 3em 11em 0 -0.05em #f55,
    4em 11em 0 -0.05em #f55, 5em 11em 0 -0.05em #f55, 6em 11em 0 -0.05em #f55,
    7em 11em 0 -0.05em #f55, 8em 11em 0 -0.05em transparent,
    9em 11em 0 -0.05em transparent, 10em 11em 0 -0.05em transparent,
    11em 11em 0 -0.05em transparent;
}

.blob-avatar .blob-avatar-Fun {
  box-shadow: 
      /* row 1 */ 0em 0em 0 -0.05em transparent,
    1em 0em 0 -0.05em transparent, 2em 0em 0 -0.05em transparent,
    3em 0em 0 -0.05em transparent, 4em 0em 0 -0.05em transparent,
    5em 0em 0 -0.05em transparent, 6em 0em 0 -0.05em #3f3,
    7em 0em 0 -0.05em #3f3, 8em 0em 0 -0.05em transparent,
    9em 0em 0 -0.05em transparent, 10em 0em 0 -0.05em transparent,
    11em 0em 0 -0.05em transparent, /* row 2 */ 0em 1em 0 -0.05em transparent,
    1em 1em 0 -0.05em transparent, 2em 1em 0 -0.05em transparent,
    3em 1em 0 -0.05em transparent, 4em 1em 0 -0.05em #3f3,
    5em 1em 0 -0.05em #3f3, 6em 1em 0 -0.05em #afa, 7em 1em 0 -0.05em #afa,
    8em 1em 0 -0.05em #3f3, 9em 1em 0 -0.05em transparent,
    10em 1em 0 -0.05em transparent, 11em 1em 0 -0.05em transparent,
    /* row 3 */ 0em 2em 0 -0.05em transparent, 1em 2em 0 -0.05em transparent,
    2em 2em 0 -0.05em #3f3, 3em 2em 0 -0.05em #3f3, 4em 2em 0 -0.05em #afa,
    5em 2em 0 -0.05em #afa, 6em 2em 0 -0.05em #afa, 7em 2em 0 -0.05em #3f3,
    8em 2em 0 -0.05em transparent, 9em 2em 0 -0.05em transparent,
    10em 2em 0 -0.05em transparent, 11em 2em 0 -0.05em transparent,
    /* row 4 */ 0em 3em 0 -0.05em transparent, 1em 3em 0 -0.05em #3f3,
    2em 3em 0 -0.05em #afa, 3em 3em 0 -0.05em #afa, 4em 3em 0 -0.05em #afa,
    5em 3em 0 -0.05em #afa, 6em 3em 0 -0.05em #afa, 7em 3em 0 -0.05em #afa,
    8em 3em 0 -0.05em #3f3, 9em 3em 0 -0.05em #3f3,
    10em 3em 0 -0.05em transparent, 11em 3em 0 -0.05em transparent,
    /* row 5 */ 0em 4em 0 -0.05em transparent, 1em 4em 0 -0.05em #3f3,
    2em 4em 0 -0.05em #afa, 3em 4em 0 -0.05em #afa, 4em 4em 0 -0.05em #afa,
    5em 4em 0 -0.05em #afa, 6em 4em 0 -0.05em #afa, 7em 4em 0 -0.05em #afa,
    8em 4em 0 -0.05em #afa, 9em 4em 0 -0.05em #afa, 10em 4em 0 -0.05em #3f3,
    11em 4em 0 -0.05em transparent, /* row 6 */ 0em 5em 0 -0.05em #3f3,
    1em 5em 0 -0.05em #afa, 2em 5em 0 -0.05em #afa, 3em 5em 0 -0.05em #0b5,
    4em 5em 0 -0.05em #afa, 5em 5em 0 -0.05em #afa, 6em 5em 0 -0.05em #afa,
    7em 5em 0 -0.05em #0b5, 8em 5em 0 -0.05em #afa, 9em 5em 0 -0.05em #afa,
    10em 5em 0 -0.05em #afa, 11em 5em 0 -0.05em #3f3,
    /* row 7 */ 0em 6em 0 -0.05em #3f3, 1em 6em 0 -0.05em #afa,
    2em 6em 0 -0.05em #afa, 3em 6em 0 -0.05em #0b5, 4em 6em 0 -0.05em #afa,
    5em 6em 0 -0.05em #afa, 6em 6em 0 -0.05em #afa, 7em 6em 0 -0.05em #0b5,
    8em 6em 0 -0.05em #afa, 9em 6em 0 -0.05em #afa, 10em 6em 0 -0.05em #afa,
    11em 6em 0 -0.05em #3f3, /* row 8 */ 0em 7em 0 -0.05em #3f3,
    1em 7em 0 -0.05em #afa, 2em 7em 0 -0.05em #afa, 3em 7em 0 -0.05em #afa,
    4em 7em 0 -0.05em #afa, 5em 7em 0 -0.05em #afa, 6em 7em 0 -0.05em #afa,
    7em 7em 0 -0.05em #afa, 8em 7em 0 -0.05em #afa, 9em 7em 0 -0.05em #afa,
    10em 7em 0 -0.05em #3f3, 11em 7em 0 -0.05em #3f3,
    /* row 9 */ 0em 8em 0 -0.05em #3f3, 1em 8em 0 -0.05em #afa,
    2em 8em 0 -0.05em #afa, 3em 8em 0 -0.05em #afa, 4em 8em 0 -0.05em #0b5,
    5em 8em 0 -0.05em #afa, 6em 8em 0 -0.05em #0b5, 7em 8em 0 -0.05em #afa,
    8em 8em 0 -0.05em #afa, 9em 8em 0 -0.05em #afa, 10em 8em 0 -0.05em #3f3,
    11em 8em 0 -0.05em transparent, /* row 10 */ 0em 9em 0 -0.05em transparent,
    1em 9em 0 -0.05em #3f3, 2em 9em 0 -0.05em #afa, 3em 9em 0 -0.05em #afa,
    4em 9em 0 -0.05em #0b5, 5em 9em 0 -0.05em #0b5, 6em 9em 0 -0.05em #0b5,
    7em 9em 0 -0.05em #afa, 8em 9em 0 -0.05em #afa, 9em 9em 0 -0.05em #afa,
    10em 9em 0 -0.05em #3f3, 11em 9em 0 -0.05em transparent,
    /* row 11 */ 0em 10em 0 -0.05em transparent, 1em 10em 0 -0.05em #3f3,
    2em 10em 0 -0.05em #3f3, 3em 10em 0 -0.05em #afa, 4em 10em 0 -0.05em #afa,
    5em 10em 0 -0.05em #afa, 6em 10em 0 -0.05em #afa, 7em 10em 0 -0.05em #afa,
    8em 10em 0 -0.05em #3f3, 9em 10em 0 -0.05em #3f3,
    10em 10em 0 -0.05em transparent, 11em 10em 0 -0.05em transparent,
    /* row 12 */ 0em 11em 0 -0.05em transparent, 1em 11em 0 -0.05em transparent,
    2em 11em 0 -0.05em transparent, 3em 11em 0 -0.05em #3f3,
    4em 11em 0 -0.05em #3f3, 5em 11em 0 -0.05em #3f3, 6em 11em 0 -0.05em #3f3,
    7em 11em 0 -0.05em #3f3, 8em 11em 0 -0.05em transparent,
    9em 11em 0 -0.05em transparent, 10em 11em 0 -0.05em transparent,
    11em 11em 0 -0.05em transparent;
}

.blob-avatar .blob-avatar-Kind {
  box-shadow: 
  /* row 1 */ 0em 0em 0 -0.05em transparent,
    1em 0em 0 -0.05em transparent, 2em 0em 0 -0.05em transparent,
    3em 0em 0 -0.05em transparent, 4em 0em 0 -0.05em transparent,
    5em 0em 0 -0.05em transparent, 6em 0em 0 -0.05em #ff0,
    7em 0em 0 -0.05em #ff0, 8em 0em 0 -0.05em transparent,
    9em 0em 0 -0.05em transparent, 10em 0em 0 -0.05em transparent,
    11em 0em 0 -0.05em transparent, /* row 2 */ 0em 1em 0 -0.05em transparent,
    1em 1em 0 -0.05em transparent, 2em 1em 0 -0.05em transparent,
    3em 1em 0 -0.05em transparent, 4em 1em 0 -0.05em #ff0,
    5em 1em 0 -0.05em #ff0, 6em 1em 0 -0.05em #ffa, 7em 1em 0 -0.05em #ffa,
    8em 1em 0 -0.05em #ff0, 9em 1em 0 -0.05em transparent,
    10em 1em 0 -0.05em transparent, 11em 1em 0 -0.05em transparent,
    /* row 3 */ 0em 2em 0 -0.05em transparent, 1em 2em 0 -0.05em transparent,
    2em 2em 0 -0.05em #ff0, 3em 2em 0 -0.05em #ff0, 4em 2em 0 -0.05em #ffa,
    5em 2em 0 -0.05em #ffa, 6em 2em 0 -0.05em #ffa, 7em 2em 0 -0.05em #ff0,
    8em 2em 0 -0.05em transparent, 9em 2em 0 -0.05em transparent,
    10em 2em 0 -0.05em transparent, 11em 2em 0 -0.05em transparent,
    /* row 4 */ 0em 3em 0 -0.05em transparent, 1em 3em 0 -0.05em #ff0,
    2em 3em 0 -0.05em #ffa, 3em 3em 0 -0.05em #ffa, 4em 3em 0 -0.05em #ffa,
    5em 3em 0 -0.05em #ffa, 6em 3em 0 -0.05em #ffa, 7em 3em 0 -0.05em #ffa,
    8em 3em 0 -0.05em #ff0, 9em 3em 0 -0.05em #ff0,
    10em 3em 0 -0.05em transparent, 11em 3em 0 -0.05em transparent,
    /* row 5 */ 0em 4em 0 -0.05em transparent, 1em 4em 0 -0.05em #ff0,
    2em 4em 0 -0.05em #ffa, 3em 4em 0 -0.05em #ffa, 4em 4em 0 -0.05em #ffa,
    5em 4em 0 -0.05em #ffa, 6em 4em 0 -0.05em #ffa, 7em 4em 0 -0.05em #ffa,
    8em 4em 0 -0.05em #ffa, 9em 4em 0 -0.05em #ffa, 10em 4em 0 -0.05em #ff0,
    11em 4em 0 -0.05em transparent, /* row 6 */ 0em 5em 0 -0.05em #ff0,
    1em 5em 0 -0.05em #ffa, 2em 5em 0 -0.05em #ffa, 3em 5em 0 -0.05em #fff,
    4em 5em 0 -0.05em #bb0, 5em 5em 0 -0.05em #ffa, 6em 5em 0 -0.05em #ffa,
    7em 5em 0 -0.05em #fff, 8em 5em 0 -0.05em #bb0, 9em 5em 0 -0.05em #ffa,
    10em 5em 0 -0.05em #ffa, 11em 5em 0 -0.05em #ff0,
    /* row 7 */ 0em 6em 0 -0.05em #ff0, 1em 6em 0 -0.05em #ffa,
    2em 6em 0 -0.05em #ffa, 3em 6em 0 -0.05em #bb0, 4em 6em 0 -0.05em #bb0,
    5em 6em 0 -0.05em #ffa, 6em 6em 0 -0.05em #ffa, 7em 6em 0 -0.05em #bb0,
    8em 6em 0 -0.05em #bb0, 9em 6em 0 -0.05em #ffa, 10em 6em 0 -0.05em #ffa,
    11em 6em 0 -0.05em #ff0, /* row 8 */ 0em 7em 0 -0.05em #ff0,
    1em 7em 0 -0.05em #ffa, 2em 7em 0 -0.05em #ffa, 3em 7em 0 -0.05em #ffa,
    4em 7em 0 -0.05em #ffa, 5em 7em 0 -0.05em #ffa, 6em 7em 0 -0.05em #ffa,
    7em 7em 0 -0.05em #ffa, 8em 7em 0 -0.05em #ffa, 9em 7em 0 -0.05em #ffa,
    10em 7em 0 -0.05em #ffa, 11em 7em 0 -0.05em #ff0,
    /* row 9 */ 0em 8em 0 -0.05em #ff0, 1em 8em 0 -0.05em #ffa,
    2em 8em 0 -0.05em #ffa, 3em 8em 0 -0.05em #ffa, 4em 8em 0 -0.05em #bb0,
    5em 8em 0 -0.05em #ffa, 6em 8em 0 -0.05em #ffa, 7em 8em 0 -0.05em #bb0,
    8em 8em 0 -0.05em #ffa, 9em 8em 0 -0.05em #ffa, 10em 8em 0 -0.05em #ffa,
    11em 8em 0 -0.05em #ff0, /* row 10 */ 0em 9em 0 -0.05em transparent,
    1em 9em 0 -0.05em #ff0, 2em 9em 0 -0.05em #ffa, 3em 9em 0 -0.05em #ffa,
    4em 9em 0 -0.05em #ffa, 5em 9em 0 -0.05em #bb0, 6em 9em 0 -0.05em #bb0,
    7em 9em 0 -0.05em #ffa, 8em 9em 0 -0.05em #ffa, 9em 9em 0 -0.05em #ffa,
    10em 9em 0 -0.05em #ff0, 11em 9em 0 -0.05em transparent,
    /* row 11 */ 0em 10em 0 -0.05em transparent, 1em 10em 0 -0.05em #ff0,
    2em 10em 0 -0.05em #ff0, 3em 10em 0 -0.05em #ffa, 4em 10em 0 -0.05em #ffa,
    5em 10em 0 -0.05em #ffa, 6em 10em 0 -0.05em #ffa, 7em 10em 0 -0.05em #ffa,
    8em 10em 0 -0.05em #ff0, 9em 10em 0 -0.05em #ff0,
    10em 10em 0 -0.05em transparent, 11em 10em 0 -0.05em transparent,
    /* row 12 */ 0em 11em 0 -0.05em transparent, 1em 11em 0 -0.05em transparent,
    2em 11em 0 -0.05em transparent, 3em 11em 0 -0.05em #ff0,
    4em 11em 0 -0.05em #ff0, 5em 11em 0 -0.05em #ff0, 6em 11em 0 -0.05em #ff0,
    7em 11em 0 -0.05em #ff0, 8em 11em 0 -0.05em transparent,
    9em 11em 0 -0.05em transparent, 10em 11em 0 -0.05em transparent,
    11em 11em 0 -0.05em transparent;
}

.blob-avatar .blob-avatar-Wise {
  box-shadow: 
    /* row 1 */ 0em 0em 0 -0.05em transparent,
    1em 0em 0 -0.05em transparent, 2em 0em 0 -0.05em transparent,
    3em 0em 0 -0.05em transparent, 4em 0em 0 -0.05em transparent,
    5em 0em 0 -0.05em transparent, 6em 0em 0 -0.05em transparent,
    7em 0em 0 -0.05em transparent, 8em 0em 0 -0.05em transparent,
    9em 0em 0 -0.05em transparent, 10em 0em 0 -0.05em transparent,
    11em 0em 0 -0.05em transparent, /* row 2 */ 0em 1em 0 -0.05em transparent,
    1em 1em 0 -0.05em transparent, 2em 1em 0 -0.05em transparent,
    3em 1em 0 -0.05em transparent, 4em 1em 0 -0.05em #bbf,
    5em 1em 0 -0.05em #bbf, 6em 1em 0 -0.05em #bbf, 7em 1em 0 -0.05em #bbf,
    8em 1em 0 -0.05em transparent, 9em 1em 0 -0.05em transparent,
    10em 1em 0 -0.05em transparent, 11em 1em 0 -0.05em transparent,
    /* row 3 */ 0em 2em 0 -0.05em transparent, 1em 2em 0 -0.05em transparent,
    2em 2em 0 -0.05em #bbf, 3em 2em 0 -0.05em #bbf, 4em 2em 0 -0.05em #99f,
    5em 2em 0 -0.05em #99f, 6em 2em 0 -0.05em #99f, 7em 2em 0 -0.05em #99f,
    8em 2em 0 -0.05em #bbf, 9em 2em 0 -0.05em transparent,
    10em 2em 0 -0.05em transparent, 11em 2em 0 -0.05em transparent,
    /* row 4 */ 0em 3em 0 -0.05em transparent, 1em 3em 0 -0.05em #bbf,
    2em 3em 0 -0.05em #99f, 3em 3em 0 -0.05em #99f, 4em 3em 0 -0.05em #99f,
    5em 3em 0 -0.05em #99f, 6em 3em 0 -0.05em #99f, 7em 3em 0 -0.05em #99f,
    8em 3em 0 -0.05em #99f, 9em 3em 0 -0.05em #bbf,
    10em 3em 0 -0.05em transparent, 11em 3em 0 -0.05em transparent,
    /* row 5 */ 0em 4em 0 -0.05em transparent, 1em 4em 0 -0.05em #bbf,
    2em 4em 0 -0.05em #99f, 3em 4em 0 -0.05em #99f, 4em 4em 0 -0.05em #99f,
    5em 4em 0 -0.05em #99f, 6em 4em 0 -0.05em #99f, 7em 4em 0 -0.05em #99f,
    8em 4em 0 -0.05em #99f, 9em 4em 0 -0.05em #99f, 10em 4em 0 -0.05em #bbf,
    11em 4em 0 -0.05em transparent, /* row 6 */ 0em 5em 0 -0.05em #bbf,
    1em 5em 0 -0.05em #99f, 2em 5em 0 -0.05em #99f, 3em 5em 0 -0.05em #117,
    4em 5em 0 -0.05em #99f, 5em 5em 0 -0.05em #99f, 6em 5em 0 -0.05em #99f,
    7em 5em 0 -0.05em #117, 8em 5em 0 -0.05em #99f, 9em 5em 0 -0.05em #99f,
    10em 5em 0 -0.05em #99f, 11em 5em 0 -0.05em #bbf,
    /* row 7 */ 0em 6em 0 -0.05em #bbf, 1em 6em 0 -0.05em #99f,
    2em 6em 0 -0.05em #99f, 3em 6em 0 -0.05em #117, 4em 6em 0 -0.05em #99f,
    5em 6em 0 -0.05em #99f, 6em 6em 0 -0.05em #99f, 7em 6em 0 -0.05em #117,
    8em 6em 0 -0.05em #99f, 9em 6em 0 -0.05em #99f, 10em 6em 0 -0.05em #99f,
    11em 6em 0 -0.05em #bbf, /* row 8 */ 0em 7em 0 -0.05em #bbf,
    1em 7em 0 -0.05em #99f, 2em 7em 0 -0.05em #99f, 3em 7em 0 -0.05em #99f,
    4em 7em 0 -0.05em #ddd, 5em 7em 0 -0.05em #117, 6em 7em 0 -0.05em #ddd,
    7em 7em 0 -0.05em #99f, 8em 7em 0 -0.05em #99f, 9em 7em 0 -0.05em #99f,
    10em 7em 0 -0.05em #bbf, 11em 7em 0 -0.05em #bbf,
    /* row 9 */ 0em 8em 0 -0.05em #bbf, 1em 8em 0 -0.05em #99f,
    2em 8em 0 -0.05em #99f, 3em 8em 0 -0.05em #99f, 4em 8em 0 -0.05em #ddd,
    5em 8em 0 -0.05em #ddd, 6em 8em 0 -0.05em #ddd, 7em 8em 0 -0.05em #99f,
    8em 8em 0 -0.05em #99f, 9em 8em 0 -0.05em #99f, 10em 8em 0 -0.05em #bbf,
    11em 8em 0 -0.05em transparent, /* row 10 */ 0em 9em 0 -0.05em transparent,
    1em 9em 0 -0.05em #bbf, 2em 9em 0 -0.05em #99f, 3em 9em 0 -0.05em #99f,
    4em 9em 0 -0.05em #ddd, 5em 9em 0 -0.05em #ddd, 6em 9em 0 -0.05em #ddd,
    7em 9em 0 -0.05em #99f, 8em 9em 0 -0.05em #99f, 9em 9em 0 -0.05em #99f,
    10em 9em 0 -0.05em #bbf, 11em 9em 0 -0.05em transparent,
    /* row 11 */ 0em 10em 0 -0.05em transparent, 1em 10em 0 -0.05em #bbf,
    2em 10em 0 -0.05em #bbf, 3em 10em 0 -0.05em #99f, 4em 10em 0 -0.05em #99f,
    5em 10em 0 -0.05em #ddd, 6em 10em 0 -0.05em #ddd, 7em 10em 0 -0.05em #99f,
    8em 10em 0 -0.05em #bbf, 9em 10em 0 -0.05em #bbf,
    10em 10em 0 -0.05em transparent, 11em 10em 0 -0.05em transparent,
    /* row 12 */ 0em 11em 0 -0.05em transparent, 1em 11em 0 -0.05em transparent,
    2em 11em 0 -0.05em transparent, 3em 11em 0 -0.05em #bbf,
    4em 11em 0 -0.05em #bbf, 5em 11em 0 -0.05em #ddd, 6em 11em 0 -0.05em #bbf,
    7em 11em 0 -0.05em #bbf, 8em 11em 0 -0.05em transparent,
    9em 11em 0 -0.05em transparent, 10em 11em 0 -0.05em transparent,
    11em 11em 0 -0.05em transparent;
}
